<link rel="stylesheet" href="/css/styles.css">
<header>
  <div class="header-title">
    <h1>Hubert Kniaź</h1>
    <h2>
      <span class="caret-cursor">
        <h3>I</h3>
      </span>
      <span class="machine-font">maginarium</span>
    </h2>
  </div>

  <div id="language-switcher" class="language-switcher-header">
    <button id="btn-pl" class="language-button" aria-label="Polski">PL</button>
    <button id="btn-en" class="language-button" aria-label="English">EN</button>
  </div>
</header>

