<h2>GDD</h2>
<% if (lang==='pl') { %>
<img src="/images/gdd.jpg" alt="gdd" class="item-img"/>
<a href="#" class="pdf-link open-pdf cta-link" data-pdf="/pdf/GDD.pdf">Otwórz</a>
<a href="https://docs.google.com/document/d/1FUhvlU4I0Un4uiAXtRK64M7TFNW0o_iX/edit?usp=sharing&ouid=108733064261236284681&rtpof=true&sd=true" class="cta-link" target="_blank">Otwórz PDF</a>
<div class="text-div">
    <ul class="normal-text" style="list-style: circle;">
        <li>
            Tworzenie spójnych narracji i światów.
        </li>
        <li>
            Projektowanie unikalnych doświadczeń gracza i elementów wyróżniających projekt (USP).
        </li>
        <li>
            Integracja narracji i rozgrywki, tak by fabuła wynikała z działań gracza.
        </li>
        <li>
            Budowanie core loopów i systemów progresji, wspierających zaangażowanie gracza i rozwój postaci.
        </li>
        <li>
            Przygotowywanie dokumentacji projektowej, klarownie prezentującej wizję gry.
        </li>
    </ul>
</div>
<% } else { %>
<img src="/images/gdd.jpg" alt="gdd" class="item-img"/>
<a href="#" class="pdf-link open-pdf cta-link" data-pdf="/pdf/GDD.pdf">Open</a>
<a href="https://docs.google.com/document/d/1FUhvlU4I0Un4uiAXtRK64M7TFNW0o_iX/edit?usp=sharing&ouid=108733064261236284681&rtpof=true&sd=true" class="cta-link" target="_blank">Open PDF</a>
<div class="text-div">
    <ul class="normal-text" style="list-style: circle;">
        <li>
            Creating cohesive narratives and worlds.
        </li>
        <li>
            Designing unique player experiences and elements distinguishing the project (USP)
        </li>
        <li>
            Integrating narrative and gameplay so that the story emerges from player actions.
        </li>
        <li>
           Building core loops and progression systems that support player engagement and character development.
        </li>
        <li>
            Preparing design documentation that clearly presents the game’s vision.
        </li>
    </ul>
</div>
<% } %>
