<% if (lang==='pl' ) { %>
<div class="main-text">
  <p class="highlight-text">
    Szczegółowy i spójny świat, historia nie pozwalająca oderwać się od ekranu  
    i bohaterowie wystarczająco prawdziwi, by za nimi tęsknić –
  </p>

  <p class="normal-text normal-text-inline">
    oto przepis na grę, która jeszcze długo po napisach końcowych,  
    nie pozwoli rozpocząć nowego tytułu.
  </p>


  <p class="normal-text">
    Oczywiście mogę nie mieć racji. Wyjątkowość gry może wynikać równie dobrze  
    ze świetnego gameplayu, niesamowitej oprawy czy wielu innych czynników.  
    Wiesz już jednak, co dla mnie jest najważniejsze.
  </p>

  <p class="normal-text">
    Zapraszam Cię do zapoznania się z moimi pracami, mam nadzieję, że właśnie takiego  
    podejścia szukasz do swojego projektu.
  </p>

  <p class="normal-text">
    Na początek proponuję <a href="/scenariusz" class="cta-link">scenariusza sesji</a> –  
    najpełniej pokazuje, w czym czuję się swobodnie.
  </p>

  <p class="normal-text">Masz pytania, uwagi, sugestie, inspiracje?</p>
  <p class="normal-text">Czekam na kontakt!</p>
  <p class="normal-text">Jestem otwartym na współpracę lub dyskusję.</p>
</div>


<% } else { %>

    <p class="highlight-text">
      The most memorable games are the ones after which you can't start anything new for a week.<br>
      Why? <br>
      Because their worlds are completely coherent.<br>
      Because their stories change something within us.<br>
      Because their characters stay with us forever.
    </p>
    <p class="normal-text">
      There’s a chance I might be wrong - after all, a game’s uniqueness can also come from great gameplay or many other factors.<br>
      But now you know what matters most to me.
    </p>
    <p class="normal-text">
      I invite you to explore my work.<br>
      Hopefully, it’s exactly what you’re looking for in your project.
    </p>
    <p class="cta-text">
      Please start with the <a href="/rpg" class="cta-link">RPG session script</a> - it best shows where I feel most at home.
    </p>

<% } %>
