<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Hubert Kniaź Imaginarium</title>
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
<%- include('partials/header') %>
  <main class="page-grid">
    <aside>
      <a href="#">Worldbuilding</a>
      <a href="#">Character Sketches</a>
      <a href="#">Opening Scene/Dialog</a>
      <a href="#" class="active">Short Story</a>
      <a href="#">RPG Session</a>
      <a href="#">Twine Game</a>
      <a href="#">Contact</a>
    </aside>
    <section class="content-main">
      <h1>What is Lorem Ipsum?</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry...
      </p>
    </section>
  </main>
<%- include('partials/footer') %>
</body>
</html>
