<% if (lang==='pl' ) { %>
  <h1>Witamy na stronie Huberta Kniazia!</h1>
  <p>
    "Ale muszę Ci wyjaśnić, jak powstał ten błędny pogląd potępiania rozkoszy oraz wychwalania bólu...
    <!-- pełny polski tekst -->
  </p>
<% } else { %>
  <h1>Welcome to Hubert Kniaź's website!</h1>
  <p>
    "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
    and I will
    give you a complete account of the system, and expound the actual teachings of the great explorer of the
    truth, the
    master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
    pleasure...
    <!-- pełny angielski tekst -->
  </p>
<% } %>
