<% if (lang==='pl') { %>
<div class="item-container"> 
    <div class="item-card">
        <h2>Druga Ziemia<br/> Dialog:</h2>
        <img src="/images/SecondEarth.jpg" alt="Second Earth" class="item-img"/>
        <a href="#" class="pdf-link open-pdf" data-pdf="/pdf/SecondEarthdialog.pdf">Otwórz</a>
        <a href="https://drive.google.com/file/d/1pJO6oPq_Ahh_w0Ixl8u9dIiVeLAdDM6o/view?usp=sharing" target="_blank">Otwórz PDF</a>
    </div>

    <div class="item-card">
        <h2>Diagram</h2><br/><br/>
        <img src="/images/Diagram2.jpg" alt="Second diagram" class="item-img"/>
        <a href="#" class="pdf-link open-pdf cta-link" data-pdf="/pdf/Diagram2.pdf">Otwórz</a>
        <a href="https://drive.google.com/file/d/1rfhiVdeCJN83SSXUrQgp5ylYefPPto3p/view?usp=sharing" class="cta-link" target="_blank">Otwórz PDF</a>
    </div>
</div>

    <ul class="normal-text" style="list-style: circle;">
        <li>
            Tworzenie scen i dialogów w <b>ARTICY</b>.
        </li>
        <li>
            Tworzenie spójnej, immersyjnej narracji i scenariuszy.
        </li>
        <li>
            Kreacja postaci i różnicowanie ich głosów, tonów i emocji w dialogach.
        </li>
        <li>
            Umiejętność tonowania narracji (patos, napięcie, humor).
        </li>
        <li>
            Planowanie dramaturgii gry i przygotowanie wątków pod interakcje gracza.
        </li>
        <li>
            Pisanie tekstów reportażowo-dokumentalnych, które wprowadzają w tło fabularne.
        </li>
        <li>
            Dopasowywanie stylu narracji i opisu do konkretnego settingu (film z lat ‘00).
        </li>
        <li>
            Prezentowanie sceny za pomocą diagramów UML  wykorzystująć platformę <b>MIRO.</b>
        </li>
    </ul>

<% } else { %>
<div class="item-container"> 
    <div class="item-card">
        <h2>Second Earth<br/> Dialog:</h2>
        <img src="/images/SecondEarth.jpg" alt="Second Earth" class="item-img"/>
        <a href="#" class="pdf-link open-pdf" data-pdf="/pdf/SecondEarthdialog.pdf">Open</a>
        <a href="https://drive.google.com/file/d/1pJO6oPq_Ahh_w0Ixl8u9dIiVeLAdDM6o/view?usp=sharing" target="_blank">Open PDF</a>
    </div>

    <div class="item-card">
        <h2>Diagram</h2><br/><br/>
        <img src="/images/Diagram2.jpg" alt="Second diagram" class="item-img"/>
        <a href="#" class="pdf-link open-pdf cta-link" data-pdf="/pdf/Diagram2.pdf">Open</a>
        <a href="https://drive.google.com/file/d/1rfhiVdeCJN83SSXUrQgp5ylYefPPto3p/view?usp=sharing" class="cta-link" target="_blank">Open PDF</a>
    </div>
</div>
<div class="text-div">
    <ul class="normal-text" style="list-style: circle;">
        <li>
            Creating scenes and dialogues in <b>ARTICY</b>.
        </li>
        <li>
            Building consistent, immersive narratives and scenarios.
        </li>
        <li>
            Designing characters and differentiating their voices, tones, and emotions in dialogue
        </li>
        <li>
            Ability to modulate narrative tone (pathos, tension, humor).
        </li>
        <li>
            Planning game dramaturgy and preparing storylines for player interaction.
        </li>
        <li>
            Writing reportage-style and documentary texts that introduce the story’s background.
        </li>
        <li>
            Adapting narrative style and description to a specific setting (e.g., a 2000s film).
        </li>
        <li>
            Presenting scenes using UML diagrams with the <b>MIRO.</b> platform.
        </li>
    </ul>
</div>
<% } %>
