<% if (lang==='pl') { %>
<div class="item-container"> 
    <div class="item-card">
        <h2>Cara<br/> O'Brien</h2>
        <a href="#" class="pdf-link open-pdf" data-pdf="/pdf/Cara.pdf">Otw贸rz</a>
        <a href="https://drive.google.com/file/d/1anq7RTTU4sAPM0ApELx5tWBl_MD2o8W9/view?usp=drive_link" target="_blank">Otw贸rz PDF</a>
    </div>

    <div class="item-card">
        <h2>William<br/> Walker</h2>
        <a href="#" class="pdf-link open-pdf" data-pdf="/pdf/WilliamWalker.pdf">Otw贸rz</a>
        <a href="https://drive.google.com/file/d/1lFNu16xXbSUKx8K0Nn-1rEk9Xl1gEFa-/view?usp=drive_link" target="_blank">Otw贸rz PDF</a>
    </div>
</div>
<% } else { %>
<div class="item-container"> 
    <div class="item-card">
        <h2>Cara<br/> O'Brien</h2>
        <a href="#" class="pdf-link open-pdf" data-pdf="/pdf/Cara.pdf">Open</a>
        <a href="https://drive.google.com/file/d/1anq7RTTU4sAPM0ApELx5tWBl_MD2o8W9/view?usp=drive_link" target="_blank">Open PDF</a>
    </div>

    <div class="item-card">
        <h2>William<br/> Walker</h2>
        <a href="#" class="pdf-link open-pdf" data-pdf="/pdf/WilliamWalker.pdf">Open</a>
        <a href="https://drive.google.com/file/d/1lFNu16xXbSUKx8K0Nn-1rEk9Xl1gEFa-/view?usp=drive_link" target="_blank">Open PDF</a>
    </div>
</div>
    <% } %>
