<% if (lang==='pl') { %>
<div class="character-container"> 
    <div class="character-card">
        <h2>Cara O'Brien:</h2>
        <img src="/images/Cara-profile.jpg" alt="Cara Profile" class="character-img"/>
        <a href="Cara">-Otwórz-</a>
    </div>

    <div class="character-card">
        <h2>William Walker:</h2>
        <img src="/images/William-profile.jpg" alt="William profile" class="character-img"/>
        <a href="William">-Otwórz-</a>
    </div>
</div>
<% } else { %>
<div class="character-container"> 
    <div class="character-card">
        <h2>Cara O'Brien:</h2>
        <img src="/images/Cara-profile.jpg" alt="Cara Profile" class="character-img"/>
        <a href="Cara">-Open-</a>
    </div>

    <div class="character-card">
        <h2>William Walker:</h2>
        <img src="/images/William-profile.jpg" alt="William profile" class="character-img"/>
        <a href="William">-Open-</a>
    </div>
</div>
    <% } %>
