<% if (lang==='pl') { %>
<div class="item-container"> 
    <div class="item-card">
        <h2>Cara<br/> O'Brien</h2>
        
        <a href="#" class="pdf-link open-pdf cta-link" data-pdf="/pdf/Cara.pdf">Otwórz</a>
        <a href="https://drive.google.com/file/d/1anq7RTTU4sAPM0ApELx5tWBl_MD2o8W9/view?usp=drive_link" class="cta-link" target="_blank">Otwórz PDF</a>
    </div>

    <div class="item-card">
        <h2>William<br/> Walker</h2>
        <a href="#" class="pdf-link open-pdf cta-link" data-pdf="/pdf/WilliamWalker.pdf">Otwórz</a>
        <a href="https://drive.google.com/file/d/13fyJldDO8T7E9e9f6nR-W8zsJu8RAhRW/view?usp=sharing" class="cta-link" target="_blank">Otwórz PDF</a>
    </div>
</div>
<ul class="normal-text" style="list-style: circle;">
    <li>
        Tworzenie wielowymiarowych bohaterów z bogatym tłem psychologicznym i spójnymi motywacjami.
    </li>
    <li>
        Łączenie archetypów z unikalnymi, wyróżniającymi elementami.
    </li>
    <li>
        Tworzenie postaci, których cechy i wartości są zbalansowane tak, by trafiać do różnych grup odbiorców, unikając skrajności i kulturowych napięć.
    </li>
    <li>
        Projektowanie relacji generujących konflikty, humor i napięcie, a jednocześnie bohaterów uzupełniających się umiejętnościami i rolami.
    </li>
    <li>
        Wykorzystanie platformy <b>MILANOTE</b> do prezentacji pomysłów.
    </li>
</ul>
<% } else { %>
<div class="item-container"> 
    <div class="item-card">
        <h2>Cara<br/> O'Brien</h2>
        <a href="#" class="pdf-link open-pdf cta-link" data-pdf="/pdf/Cara.pdf">Open</a>
        <a href="https://drive.google.com/file/d/1anq7RTTU4sAPM0ApELx5tWBl_MD2o8W9/view?usp=drive_link" class="cta-link" target="_blank">Open PDF</a>
    </div>

    <div class="item-card">
        <h2>William<br/> Walker</h2>
        <a href="#" class="pdf-link open-pdf cta-link" data-pdf="/pdf/WilliamWalker.pdf">Open</a>
        <a href="https://drive.google.com/file/d/13fyJldDO8T7E9e9f6nR-W8zsJu8RAhRW/view?usp=sharing" class="cta-link" target="_blank">Open PDF</a>
    </div>
</div>
<ul class="normal-text" style="list-style: circle;">
    <li>
        Creating multidimensional characters with rich psychological backgrounds and consistent motivations.
    </li>
    <li>
        Combining archetypes with unique, distinguishing elements.
    </li>
    <li>
        Designing characters whose traits and values are balanced to appeal to different audience groups, avoiding extremes and cultural tensions.
    </li>
    <li>
        Designing relationships that generate conflict, humor and tension, while also creating characters who complement each other with their skills and roles.
    </li>
    <li>
        Using the <b>MILANOTE</b> platform to present ideas.
    </li>
</ul>
    <% } %>
