<!-- W kontakt.ejs tylko to, co w sekcji content-main -->

<% if (lang === 'pl') { %>

  <h1 class="contact-h1">Kontakt</h1>
  <p>Masz pytania, uwagi,<br /> sugestie,<br /> inspiracje?<br />

Czekam na kontakt,<br /> jestem otwartym na<br /> współpracę lub<br /> dyskusję.
</p>

  <ul>
    <li>
      <strong>LinkedIn:</strong>
      <a href="https://www.linkedin.com/in/hubert-kniaz" target="_blank" rel="noopener noreferrer">
      https://www.linkedin.com/in/hubert-kniaz
      </a>
    </li>
    <li>
      <strong>Mail:</strong>
        hubert.j.kniaz@gmail.com
    </li>
  </ul>

<% } else { %>

  <h1 class="contact-h1">Contact</h1>
  <p>
    Do you have questions, comments, suggestions, or inspiration?
    I look forward to hearing from you; I'm open to collaboration or discussion.
  </p>

  <ul>
    <li>
      <strong>LinkedIn:</strong>
      <a href="https://www.linkedin.com/in/hubert-kniaz" target="_blank" rel="noopener noreferrer">
        https://www.linkedin.com/in/hubert-kniaz
      </a>
    </li>
    <li>
      <strong>Mail:</strong>
        hubert.j.kniaz@gmail.com
    </li>
  </ul>

<% } %>
