<!-- W kontakt.ejs tylko to, co w sekcji content-main -->

<% if (lang === 'pl') { %>
  <h1>Kontakt</h1>
  <p>Masz pytania, uwagi, sugestie, inspiracje?

Czekam na kontakt, jestem otwartym na współpracę lub dyskusję.
</p>

  <ul>
    <li>
      <strong>LinkedIn:</strong>
      <a href="https://www.linkedin.com/in/przykladowy-profil" target="_blank" rel="noopener noreferrer" tabindex="0">
        https://www.linkedin.com/in/przykladowy-profil
      </a>
    </li>
    <li>
      <strong>Telefon:</strong> <a href="tel:+48123456789" tabindex="0">+48 123 456 789</a>
    </li>
  </ul>

  <button id="contact-btn" class="landing-cta" type="button" aria-haspopup="dialog"
    aria-controls="contact-modal" aria-expanded="false">
    Skontaktuj się ze mną
  </button>

<% } else { %>

  <h1>Contact</h1>
  <p>Any questions? Get in touch:</p>

  <ul>
    <li>
      <strong>LinkedIn:</strong>
      <a href="https://www.linkedin.com/in/sample-profile" target="_blank" rel="noopener noreferrer" tabindex="0">
        https://www.linkedin.com/in/sample-profile
      </a>
    </li>
    <li>
      <strong>Phone:</strong> <a href="tel:+48123456789" tabindex="0">+48 123 456 789</a>
    </li>
  </ul>

  <button id="contact-btn" class="landing-cta" type="button" aria-haspopup="dialog"
    aria-controls="contact-modal" aria-expanded="false">
    Contact me
  </button>

<% } %>

<script>
  window.modalInitialSuccess = <%= success ? 'true' : 'false' %>;
</script>
<script src="/js/modal.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

