<% if (lang==='pl') { %>
  <h1 class="About-H1">Hej, mam na imię Hubert i jestem początkującym narrative designerem.</h1>
  <div>
  <a href="/images/MotoOpen.jpeg" target="_blank">
    <img src="/images/Moto.jpg" alt="Hubert na Motocyklu" class="about-img"/>
  </a>

  <p class="About-P">
    W zeszłym roku ukończyłem kurs Narrative Designer prowadzony przez Magdalenę Kucenty w SKVOT, gdzie nauczyłem się m.in.: tworzenia postaci i nieliniowych narracji, quest designu, integracji fabuły z mechaniką czy korzystania z branżowych narzędzi.
  </p>

  <p class="About-P">
    Wcześniej przez 15 lat organizowałem harcerskie obozy tematyczne oraz LARPy inspirowane fantastyką. Tworząc światy, łączyłem autorskie bądź zapożyczone historie z mechanikami wzorowanymi na grach komputerowych, planszowych czy RPG, tak by uczestnicy czuli, że mają realny wpływ na opowieść. Podczas pandemii, kierując zebranym przez siebie zespołem, stworzyłem grę przeglądarkową, łączącą metodę harcerską z angażującą historią i wciągającą mechaniką.
  </p>

  <p class="About-P">
    Jako były leśnik, wykorzystuję moją znajomość przyrody do tworzenia immersyjnych, żyjących światów fantasy. Cenię przede wszystkim spójność i konsekwencję, bo to one wpływają na to, jak mocno odbiorca “wsiąknie” w wykreowaną rzeczywistość.
  </p>

  <p class="About-P">
    W wolnym czasie prowadzę kampanię D&D, ogrywam największe PC-towe tytuły i uzupełniam już i tak pokaźną wiedzę o zachodniej popkulturze. Fascynują mnie bogate i złożone światy, od Gwiezdnych Wojen, przez Tolkiena czy Doctora Who, aż po mitologię Cthulhu.
  </p>

  <p class="About-P">
    Do projektów mogę wnieść spójność świata, złożonych bohaterów i emocjonującą opowieść, bo tak właśnie rozumiem przemyślaną historię. Uważam, że dobra fabuła może wybronić słaby gameplay, a rzadko kiedy na odwrót.
  </p>
</div>

  </div>
<% } else { %>
  <h1 class="About-H1">Hi, my name is Hubert, and I am an aspiring narrative designer</h1>
  <a href="/images/MotoOpen.jpeg" target="_blank">
    <img src="/images/Moto.jpg" alt="Hubert na Motocyklu" class="about-img"/>
  </a>
  <div>
    <p class="About-P">Last year, I completed the Narrative Designer course led by Magdalena Kucenty at SKVOT, where I learned, among other things, how to create characters and non-linear narratives, design quests, integrate story with gameplay mechanics, and work with industry-standard tools.
      Before that, I spent 15 years organizing scouts camps and LARPs inspired by fantasy worlds. While building these worlds, I combined original or borrowed stories with mechanics modeled on video games, board games, and RPGs, so participants could feel they had a real impact on the story. During the pandemic, leading a team I had assembled, I created a browser game that combined the scouting method with an engaging story and immersive mechanics.
      As a former forester, I draw on my knowledge of nature to create immersive, living fantasy worlds. I value consistency and coherence above all, because they determine how deeply players can “sink” into a created reality.
      In my free time, I run D&D campaigns, play major PC titles, and expand my already broad knowledge of Western pop culture. I am fascinated by rich and complex worlds—from Star Wars, through Tolkien and Doctor Who, to the Cthulhu Mythos.
      What I can bring to projects is worldbuilding consistency, complex characters, and engaging storytelling, because that is what I believe makes a story truly work. I also believe that a strong narrative can sometimes carry weak gameplay, but rarely the other way around.
    </p>
  </div>
<% } %>
