<% if (lang==='pl') { %>
<div class="item-container"> 
    <div class="item-card">
        <h2>Zadanie</h2>
        <img src="/images/quest.jpg" alt="gdd" class="item-img"/>
        <a href="#" class="pdf-link open-pdf" data-pdf="/pdf/SecondEarthQuest.pdf">Otw贸rz</a>
        <a href="https://drive.google.com/file/d/1xCttXA6LZWvZ60INvuS11MUtCoMz9aDf/view?usp=drive_link" target="_blank">Otw贸rz PDF</a> <br />
    </div>

    <div class="item-card">
        <h2>Diagram</h2>
        <img src="/images/diagram.jpg" alt="Quests diagram" class="item-img"/>
        <a href="#" class="pdf-link open-pdf" data-pdf="/pdf/diagram.pdf">Otw贸rz</a>
        <a href="https://drive.google.com/file/d/1sAAjlKNumQFslOudenAMM5Oj0iFYqtt_/view?usp=sharing" target="_blank">Otw贸rz PDF</a>
    </div>
</div>
<% } else { %>
<div class="item-container"> 
    <div class="item-card">
        <h2>Quest</h2>
        <img src="/images/quest.jpg" alt="gdd" class="item-img"/>
        <a href="#" class="pdf-link open-pdf" data-pdf="/pdf/SecondEarthQuest.pdf">Open</a>
        <a href="https://drive.google.com/file/d/1xCttXA6LZWvZ60INvuS11MUtCoMz9aDf/view?usp=drive_link" target="_blank">Open PDF</a> <br />
    </div>

    <div class="item-card">
        <h2>Diagram</h2>
        <img src="/images/diagram.jpg" alt="Quests diagram" class="item-img"/>
        <a href="#" class="pdf-link open-pdf" data-pdf="/pdf/diagram.pdf">Open</a>
        <a href="https://drive.google.com/file/d/1sAAjlKNumQFslOudenAMM5Oj0iFYqtt_/view?usp=sharing" target="_blank">Open PDF</a>
    </div>
</div>
<% } %>


