<% if (lang==='pl') { %>
<div class="item-container"> 
    <div class="item-card">
        <h2>Zadanie</h2>
        <img src="/images/quest.jpg" alt="gdd" class="item-img"/>
        <a href="#" class="pdf-link open-pdf" data-pdf="/pdf/SecondEarthQuest.pdf">Otwórz</a>
        <a href="https://drive.google.com/file/d/1xCttXA6LZWvZ60INvuS11MUtCoMz9aDf/view?usp=drive_link" target="_blank">Otwórz PDF</a> <br />
    </div>

    <div class="item-card">
        <h2>Diagram</h2>
        <img src="/images/diagram.jpg" alt="Quests diagram" class="item-img"/>
        <a href="#" class="pdf-link open-pdf" data-pdf="/pdf/diagram.pdf">Otwórz</a>
        <a href="https://drive.google.com/file/d/1sAAjlKNumQFslOudenAMM5Oj0iFYqtt_/view?usp=sharing" target="_blank">Otwórz PDF</a>
    </div>
</div>
<div class="text-div">
    <ul class="normal-text" style="list-style: circle;">
        <li>
            Projektowanie questów i struktury misji (wyzwalacze, etapy, cele, zakończenie).
        </li>
        <li>
            Tworzenie i rozwijanie fabuły głównej oraz wątków pobocznych.
        </li>
        <li>
            Integracja narracji z mechanikami gry.
        </li>
        <li>
            Projektowanie wielościeżkowych scenariuszy (różne perspektywy gracza, warianty rozgrywki).
        </li>
        <li>
            Pisanie dialogów i scenek fabularnych wspierających gameplay.
        </li>
        <li>
            Worldbuilding i projektowanie spójnego świata gry.
        </li>
        <li>
            Tworzenie przejrzystej dokumentacji.
        </li>
        <li>
            Naturalne wplatanie osiągnięć powiązanych z fabułą.
        </li>
        <li>
            Prezentowanie questów za pomocą diagramów UML wykorzystująć platformę <b>MIRO.</b>
        </li>
    </ul>
</div>
<% } else { %>
<div class="item-container"> 
    <div class="item-card">
        <h2>Quest</h2>
        <img src="/images/quest.jpg" alt="gdd" class="item-img"/>
        <a href="#" class="pdf-link open-pdf" data-pdf="/pdf/SecondEarthQuest.pdf">Open</a>
        <a href="https://drive.google.com/file/d/1xCttXA6LZWvZ60INvuS11MUtCoMz9aDf/view?usp=drive_link" target="_blank">Open PDF</a> <br />
    </div>

    <div class="item-card">
        <h2>Diagram</h2>
        <img src="/images/diagram.jpg" alt="Quests diagram" class="item-img"/>
        <a href="#" class="pdf-link open-pdf" data-pdf="/pdf/diagram.pdf">Open</a>
        <a href="https://drive.google.com/file/d/1sAAjlKNumQFslOudenAMM5Oj0iFYqtt_/view?usp=sharing" target="_blank">Open PDF</a>
    </div>
</div>
<div class="text-div">
    <ul class="normal-text" style="list-style: circle;">
        <li>
            Designing quests and mission structures (triggers, stages, objectives, endings).
        </li>
        <li>
            Creating and developing the main storyline as well as side quests.
        </li>
        <li>
            Integrating narrative with gameplay mechanics.
        </li>
        <li>
            Designing branching scenarios (different player perspectives, gameplay variants).
        </li>
        <li>
            Writing dialogues and narrative scenes that support gameplay.
        </li>
        <li>
            Worldbuilding and designing a coherent game world.
        </li>
        <li>
            Creating clear and accessible documentation.
        </li>
        <li>
            Naturally embedding achievements tied to the narrative.
        </li>
        <li>
            Presenting quests using UML diagrams with the <b>MIRO.</b> platform.
        </li>
    </ul>
</div>
<% } %>


