<% if (lang==='pl' ) { %>
    <h1>Uniwersum Drugiej Ziemi</h1>
    <ul class="normal-text">
        <li>Druga Ziemia narodziła się jako pomysł na książkę podczas warsztatów pisarskich na <b>SLOTARTcie</b>. Był to
            przełomowy dla
            mnie moment - zdałem sobie sprawę, że to nie samo tworzenie fantastycznych światów, ale zadawanie poprzez
            nie
            egzystencjalnych pytań fascynuje mnie najbardziej. Zorientowałem się również, że nie chce sam odpowiadać,
            ale
            pozwolić na to innym.
        </li>
        <li>
            Założenie było proste - dowiedzieć się jacy naprawdę jesteśmy jako ludzkość. Co stanie się, kiedy Ziemianie
            spotkają… innych Ziemian? Czego w głębi serca spodziewamy się po nas samych?
        </li>
        <li>
            Dorzuciłem do tego rozważania o potędze informacji - jak duży wpływa ma to, skąd ją bierzemy, czy jest
            kompletna i jak łatwo, bądź też nie, nami manipulować.

        </li>
        <li>
            Całość doprawiłem dwójką wielowarstwowych, skomplikowanych bohaterów. Jak głęboko skrywane tajemnice może
            mieć osoba, na którą spogląda cały świat? Czy największym twardzielem może być mężczyzna, który gardzi
            bronią?
        </li>
        <li>
            Od tamtej pory Druga Ziemia nabrała kolejnych niuansów, motywów i tajemnic, stawia kolejne pytania oraz
            coraz mocniej wiąże się z pomysłami na gameplay. Zapraszam Cię do zapoznania się z przygotowanymi
            materiałami, a może i odpowiedzenia samemu na pytanie - czego spodziewam się po Drugiej Ziemi?
        </li>
    </ul>

    <div class="links-to-else">
        <a class="cta-link" href="/materialy/uniwersum-drugiej-ziemi/koncept-postaci">Koncept Postaci</a>
        <a class="cta-link" href="/materialy/uniwersum-drugiej-ziemi/worldbuilding">Budowanie Światów</a>
        <a class="cta-link" href="/materialy/uniwersum-drugiej-ziemi/gdd">GDD</a>
        <a class="cta-link" href="/materialy/uniwersum-drugiej-ziemi/intro-dialog-uml">Intro/Dialog/Diag</a>
        <a class="cta-link" href="/materialy/uniwersum-drugiej-ziemi/quest">Zadanie</a>
        <a class="cta-link" href="/materialy/scenariusz-sesji-rpg">Scenariusz sesji RPG</a>
        <a class="cta-link" href="/materialy/opowiadanie">Opowiadanie</a>
        <a class="submenu-link disabled" disabled="disabled">Gra TWINE (W budowie)</a>
    </div>
    <% } else { %>
        <h1>The Second Earth Universe</h1>
        <ul class="normal-text">
            <li> The idea for Second Earth was born during a writing workshop at <b>SLOTART</b>. It was a turning point
                for me — I realized that what fascinates me most isn’t just creating fantastical worlds, but asking
                existential questions through them. I also discovered I didn’t want to answer those questions myself — I
                wanted to leave that to others. </li>
            <li> The premise was simple: to find out who we truly are as humanity. What happens when Earthlings meet...
                other Earthlings? Deep down, what do we really expect from ourselves? </li>
            <li> I added some reflections on the power of information — how deeply it affects us depending on its
                source, how complete it is, and how easily (or not) we can be manipulated. </li>
            <li> Then I spiced it all up with two multi-layered, complex protagonists. What kind of secrets might
                someone hide when the whole world is watching them? And could the toughest person be a man who despises
                weapons? </li>
            <li> Since then, Second Earth has evolved — gaining more nuance, themes, and mysteries. It keeps asking new
                questions and becoming more tightly interwoven with gameplay ideas. I invite you to explore the
                materials I’ve prepared — and maybe even answer for yourself: what do *I* expect from Second Earth?
            </li>
        </ul>
        <div class="links-to-else">
             <a class="cta-link" href="/en-materialy/uniwersum-drugiej-ziemi/koncept-postaci">Character Concepts</a>
              <a class="cta-link" href="/en-materialy/uniwersum-drugiej-ziemi/worldbuilding">Worldbuilding</a>
                 <a class="cta-link" href="/en-materialy/uniwersum-drugiej-ziemi/gdd">GDD</a>
                 <a class="cta-link" href="/en-materialy/uniwersum-drugiej-ziemi/intro-dialog-uml">Intro/Dialog/Diag</a>
                 <a class="cta-link" href="/en-materialy/uniwersum-drugiej-ziemi/quest">Quest</a>
                 <a class="cta-link" href="/en-materialy/scenariusz-sesji-rpg">RPG Session Script</a>
                 <a class="cta-link" href="/en-materialy/opowiadanie">Short Story</a>
                 <a class="submenu-link disabled" disabled="disabled">TWINE Game (In Development)</a>
        </div>
        <% } %>