<% if (lang==='pl') { %>
<h1>Tutaj content</h1>
<ul>
    <li>Jakieś linki blablabla...</li>
    <li>Jakieś linki blablabla...</li>
</ul>
<% } else { %>
<h1>Content there</h1>
<ul>
    <li>some links blablabla...</li>
    <li>some links blablabla...</li>
</ul>
<% } %>