  <% if (lang==='pl') { %>
  <h1>Ups!</h1>
  <p>Strona jest w trakcie tworzenia. Zapraszamy wkrótce!</p>
  <h2 style="margin-top: 50px;"><a href="/main">
    Wróć do strony głównej
  </a></h2>
  <% } else { %>
    <h1>Ups!</h1>
    <p>The site is under construction. Please check back soon!</p>
    <h2 style="margin-top: 50px;"><a href="/en-main"> Return to the homepage</a></h2>
  <% } %>