<h2>World Building</h2>
<% if (lang==='pl') { %>
<img src="/images/worldbuilding.jpg" alt="worldbuilding" class="item-img"/>
<a href="#" class="pdf-link open-pdf cta-link" data-pdf="/pdf/worldbuilding.pdf">Otwórz</a>
<a href="https://drive.google.com/file/d/1SqVDoLm9bH-feM1tWGVCcEBsOcD1j10T/view?usp=sharing" class="cta-link" target="_blank">Otwórz PDF</a>
<div class="text-div">
    <ul class="normal-text" style="list-style: circle;">
        <li>
            Worldbuilding narracyjny: kreacja spójnych settingów, hierarchii społecznych i kultur.
        </li>
        <li>
            Projektowanie frakcji i konfliktów, przygotowywanie ideologicznych obozów jako jednego z motorów fabuły.
        </li>
        <li>
            Tworzenie zróżnicowanych warstw społecznych.
        </li>
        <li>
            Environmental storytelling (alternatywna kultura, marki, sztuka i szczegóły tła).
        </li>
        <li>
            Umiejętność dokumentacji: przejrzysta prezentacja koncepcji dla zespołu.
        </li>
        <li>
            Wykorzystanie platformy <b>MILANOTE</b> do prezentacji pomysłów.
        </li>
    </ul>
</div>
<% } else { %>
<img src="/images/worldbuilding.jpg" alt="worldbuilding" class="item-img"/>
<a href="#" class="pdf-link open-pdf cta-link" data-pdf="/pdf/worldbuilding.pdf">Open</a>
<a href="https://drive.google.com/file/d/1SqVDoLm9bH-feM1tWGVCcEBsOcD1j10T/view?usp=sharing" class="cta-link" target="_blank">Open PDF</a>
<div class="text-div">
    <ul class="normal-text" style="list-style: circle;">
        <li>
            Narrative worldbuilding: creation of coherent settings, social hierarchies, and cultures.
        </li>
        <li>
            Designing fractions and conflicts, preparing ideological camps as one of the driving forces of the story.
        </li>
        <li>
            Creating diverse social classes
        </li>
        <li>
            Environmental storytelling (alternative culture, brands, art, and background details).
        </li>
        <li>
            Documentation skills: clear presentation of 
        </li>
        <li>
            Using the <b>MILANOTE</b> platform to present ideas.
        </li>
    </ul>
</div>
<% } %>
