/* LARGE LAPTOPS: 1280px - 1536px */

@media (max-width: 1536px) {
    html {
        font-size: 85%;
    }
}

/* SMALL LAPTOPS: 1024px - 1280px */

@media (max-width: 1280px ){
  html {
    font-size: 70%;
  }

  .side-menu {
    width: 8rem;
  }

  .side-right {
    width: 8rem;
  }
}

/* TABLETS: 768px - 1024px */

@media (max-width: 1024px) {
    html {
        font-size: 65%;
    }
}

/* PHONE LANDSCAPE: 576px - 768px */

@media(max-width: 768px) {
    html {
        font-size: 60%;
    }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #language-switcher {
    position: static;
    margin-top: 1rem;
    order: 3;
    justify-content: center;
  }

  header > div:first-child {
    order: 1;
  }
}


/* PHONE LANDSCAPE: 375px - 576px */

@media(max-width: 768px) {
    html {
        font-size: 50%;
    }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #language-switcher {
    position: static;
    margin-top: 1rem;
    order: 3;
    justify-content: center;
  }

  header > div:first-child {
    order: 1;
  }
}